@import '../../scss/App.scss';

.footer{
    padding: 6rem 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 90px 50px -10px $body-bg;
    &-content{
        max-width: 1000px;
        margin: 0 auto;
        &-logo{
            @include flex(center, center);
        }
        &-menus{
            @include flex(center, space-around);
            @include mobile{
                flex-direction: column;
                align-items: flex-start;
                margin-left: 20px
            }
        }
        &-menu{
            @include flex(flex-start, flex-start);
            flex-direction: column;
            margin-top: 1rem;
            font-size: 1.5rem;
            font-weight: 500;
            @include mobile {
                text-align: center;
            }
        }
    }
}