@import '../../scss/App.scss';

.list-search-movie{
    margin-top: 80px;
    padding: 20px 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    .movie-item{
        position: relative;
        text-align: center;
        font-size: 18px;
        background: #fff;
        border-radius: 20px;
        img{
            object-fit: fill;
            border-radius: 20px;
            height: 100%;
        }
        .play-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            display: none;
        }
        p{  
            display: none;
            position: absolute;
            width: 100%;
            color: $white;
            bottom: 0;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.6);
        }

        &:hover{
            cursor: pointer;
            .play-btn{
                display: block;
                animation: 1s ease-in-out 0s 1 slideOpacity;
            }
            p {
                
                display: block;
                animation: 1s ease-in-out 0s 1 slideInFromBottom;
            }
        }
    }
}